<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='fixed/css/home.css')}}" rel="stylesheet" media="all">

</head>

<body>

    <div class="header">
        <a href="/home" class="logo">Jewellery Shop</a>
        <div class="header-right">
            <a class="active" href="/logout">Logout</a>
        </div>
    </div>

    <div style="padding-left:20px">
        <h1>Inventory</h1>
        <p>
            <button class="btn btn--radius-2 btn--blue" type="submit" onclick="newItem()">Add New Item</button>&emsp;
            <input type="text" id="myInput" onkeyup="filtering()" placeholder="Search for items..">
        </p>
        <table id="myTable">
            <tr>
                <th>
                    Item Type
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Remaining Items
                </th>
                <th>
                    Price
                </th>
            </tr>
            {% for i in items %}
            <tr>
                {% if i[1]==1 %}
                <td>
                    Bracelet
                </td>
                {%else%}
                <td>
                    Necklace
                </td>
                {%endif%}
                <td>
                    {{i[2]}}
                </td>
                <td>
                    {{i[3]}}
                </td>
                <td>
                    {{i[4]}}
                </td>
                <td>
                    <form action="/edititem" method="POST">
                        <input type="hidden" name="editing" value="{{i[0]}}">
                        <button type="submit">Update</button>
                    </form>
                </td>
                <td>
                    <form action="/del" method="POST">
                        <input type="hidden" name="deleting" value="{{i[0]}}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>

    <script type="text/javascript">
        function newItem() {
            window.location.href = "newItem"
        }
        function filtering() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>


</body>

</html>